{%extends "base.html"%}
{% block title %}Registro de Cita{% endblock %}

{% block content %}
<h1 style="text-align: center; color: rgb(18, 216, 11);">Registro de Cita</h1>
<form id="registroPacienteForm" action="/register/cita" method="POST">
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required>

    <label for="hora">Hora:</label>
    <input type="time" id="hora" name="hora" required>

    <label for="motivo">Motivo:</label>
    <input type="text" id="motivo" name="motivo" required>

    <label for="idPaciente">Paciente:</label>
    <select id="idPaciente" name="idPaciente" required>
        <option value="" disabled selected>Seleccione un paciente</option>
        {% for paciente in pacientes %}
            <option value="{{ paciente.idPaciente }}">{{ paciente.nombre }}</option>
        {% endfor %}
    </select>

    <label for="idEnfermero">Sala:</label>
    <select id="idSala" name="idSala" required>
        <option value="" disabled selected>Seleccione una Sala </option>
        {% for sala in salas %}
            <option value="{{ sala.idSala }}">{{ sala.tipoSala }}</option>
        {% endfor %}
    </select>

    <div class="form-buttons">
        <button type="submit">Registrar Cita</button>
        <a class="btn" href="{{ url_for('router.list_cita') }}" role="button">Cancelar</a>
    </div>
</form>
{% endblock %}